{% include "header.html" %}
    <div class="container mt-5">
        <h1>Clock Input</h1>
        <form method="post" action="{% url 'clock_unenroll' %}">
            <div class="mb-3">
                <label for="clockInput" class="form-label">Clock</label>
                <select type="text" class="form-select" id="clock" name="clock">
                    {% for id, name in clocks.items %}
                    <option value="{{ id }}">{{ id }} - {{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% include "footer.html" %}